# Fixed Income HW1

In [6]:
import pandas as pd
from sympy import symbols, solve
import numpy as np
import warnings

warnings.simplefilter(action='ignore', category=FutureWarning)

1. Solve for the price of a Treasury bond with a coupon rate of 10 percent and a maturity date of 25 years. The yield on the bond is 2 percent.

To solve for the price of a Treasury bond with a coupon rate of 10 percent, a maturity date of 25 years, and a yield of 2 percent, we can use
$$
Price = \frac{C}{r} * (1 - (1 / (1 + r)^{n})) + \frac{F}{(1 + r)^{n}}
$$

Where:

C = 0.1 * F, the annual coupon payment
r = 0.02, the annual interest rate or yield
n = 25, the number of periods or maturity date
F = 100, the face value or future value of the bond

Plugging in the given values:
$$
Price = \frac{0.1*1000}{0.02} * (1 - (1 / (1 + \frac{0.02}{2})^{50})) + \frac{100}{(1 + \frac{0.02}{2})^{50}}=256.78
$$

So, the price of a Treasury bond with a coupon rate of 10 percent, a maturity date of 25 years and a yield of 2 percent is $256.78

In [10]:
c = 0.1
y = 0.02
T = 25
pv = (c * 100 / 2) / (y / 2) * (1 - 1 / (1 + y / 2) ** (2 * T)) + 100 / (1 + y / 2) ** 50
round(pv, 2)

256.78

2. You could make a $25,000 savings deposit at First National Bank for 4 percent compounded annually, or at Off-Shore Financing Bank for 4 percent compounded monthly. how much would you have under either financing alternative after 10 years?

In [2]:
fv1 = 25000 * (1 + 0.04) ** 10
fv2 = 25000 * (1 + 0.04 / 12) ** (10 * 12)
print(round(fv1, 2),round(fv2, 2))

37006.11 37270.82

3. You have sold a piece of land on contract for which you will receive \$180,000 down and payments of \\$7,000 per month for 20 years (240 months). If you place all the proceeds of this transaction into a savings account to earn 5.5 percent compounded monthly, how much will you have accumulated in 20 years when the loan is paid off? The first payment will arrive to you at the end of the first month.

In [4]:
fv = (180000 + 7000 / (0.055 / 12) * (1 - 1 / (1 + 0.055 / 12) ** (12 * 20))) * (1 + 0.055 / 12) ** (
        12 * 20)
round(fv, 2)

3588784.37

4. After graduating, you want to buy an EV Ferrari from a local dealer. It costs only \\$513,000 and you decide to finance the purchase. But after contacting your bank and finding that the interest rate for a loan on such a car is 15.75 percent, you are utterly dismayed. So as you stop off at the dealer to tell him that you can’t go through with the purchase and just want to take one last look, the dealer tells you that he will give you a loan with only a 4 percent interest rate. “Of course,” he explains, “we will have to charge you \\$575,000 for the car since we won’t be fully paid for three years. Your contract terms are 36 equal monthly payments plus a \\$125,000 down payment (this is true in either case). What is the effective cost of the installment loan?

In [5]:
c = (575000 - 125000) / 36
pv = c / (0.04 / 12) * (1 - 1 / (1 + 0.04 / 12) ** 36) + 125000
round(pv, 2)

548384.58

5. In order to borrow \\$600,000 you must refinance an existing loan. The existing loan has an unpaid balance of \\$800,000, a contract interest rate of 9 percent, and payments of $7,197.81 per month for the next 20 years. The new loan will bear interest at 12 percent as will the rewritten old loan. The total principal will therefore be \\$1,400,000, have monthly payments of \\$15,415.21, and a maturity of 20 years. What is the effective net or marginal interest rate cost on the \\$600,000 borrowed at the present time?

In [6]:
c = 15415.21 - 7197.81


def func(r):
    return 600000 - c / (r / 12) * (1 - 1 / (1 + r / 12) ** (12 * 20))


res = func(0.12)
rrange = [0.12, 0.2]

while abs(res) >= 0.01:
    r = np.mean(rrange)
    res = func(r)
    if res > 0:
        rrange[1] = r
    else:
        rrange[0] = r
f'{round(r * 100, 2)}%'

'15.71%'

6. What initial monthly payment would be required on a graduated payment mortgage loan? The contract will provide that payments will grow every month at a two percent (per year) rate for the entire 30 years. The contract interest rate will be 6 percent and the loan principle is \$1,000,000.

In [7]:
c = symbols('c')
c = solve(1e6 - c / (0.06 / 12 - 0.02 / 12) * (1 - (1 + 0.02 / 12) ** 360 / (1 + 0.06 / 12) ** 360), c)[0]
round(c, 2)

4778.27

7. For tax purposes, your lender sent you a year-end statement showing how much interest you paid last year but also showing that the unpaid balance on your loan is \\$104,138.70. You are wondering how much longer you must pay on the loan. The monthly payments are \\$5,000.00 and the contract interest rate is 14 percent.

In [8]:
def func(T):
    return 104138.70 - 5000 / (0.14 / 12) * (1 - 1 / (1 + 0.14 / 12) ** (T * 12))


res = func(0)
Trange = [0, 104138 / 5000]

while abs(res) >= 0.01:
    T = np.mean(Trange)
    res = func(T)
    if res > 0:
        Trange[0] = T
    else:
        Trange[1] = T
        
round(T, 2)

2.0

8. What would be the most you would be willing to pay for a share of preferred stock paying a semiannual coupon of \\$6.25. Assume that the discount rate is 7 percent.

In [9]:
p = 6.25 / (0.07 / 2)
round(p, 2)

178.57

9. You are considering purchasing a share of common stock in an airline. The dividends on this common stock have been growing at a 3 percent rate for the past 20 years, and you expect this to continue indefinitely. Dividends are expected to be \\$10 per share at the end of the year ahead, and you think 12 percent is the appropriate rate of return on this stock. How much would you be willing to pay for this stock?

In [10]:
p = 10 / (0.12 - 0.03)
round(p, 2)

111.11

10. What is the present value of a stream of cash flows expected to grow at a 10 percent rate per year for 5 years and then remain constant thereafter until the final payment in 30 years. The payment the end of the first year is \\$1,000 and the discount rate is 3.50 percent.

In [1]:
pv = 1000 / (0.035 - 0.1) * (1 - (1 + 0.1) ** 5 / (1 + 0.035) ** 5) + (
            1000 * (1 + 0.1) ** 5 / 0.035 * (1 - 1 / (1 + 0.035) ** 25)) / (1 + 0.035) ** 5
round(pv, 2)

27826.05

## Case
As clients are increasingly concerned about the size of their portfolio allocations to fixed income
given market fears about rising interest rates, we have decided to take a trading strategy that
includes offsetting long/short positions. To do this, we have used the data provided in the Excel
spreadsheet, to match the Treasuries that include coupon payments, with Stripped Coupon and
Stripped Principal bonds, similar to the Triplets example given in the first class lecture slides. We
utilized the given Ask Yield To Maturity to discount the Stripped Coupon and Stripped Principal
bonds to their present values, and added these present values to see if there exists an arbitrage in
the market compared to the Treasuries, and have run code to show the given arbitrage and the
alpha that this arbitrage can produce for clients. We are able to long the undervalued
combination, be that the combination of the Stripped Coupon and Stripped Principal bonds, or
the Treasuries, and short the overvalued combination to provide our clients both with alpha, and
long/short positions in the market to combat potential interest rate risk.

In [3]:
# Treasury Triplets
data = pd.read_excel('Homework_1_Case_Data.xlsx', sheet_name=None)

sc = data['Stripped_Coupon'][['Maturity', 'Ask Price', 'Ask Yield to Maturity', 'Issue Date']]
sp = data['Stripped_Principal'][['Maturity', 'Ask Price', 'Ask Yield to Maturity', 'Issue Date']]
df = sc.merge(sp, how='outer', on=['Maturity', 'Issue Date'])
df['Ask Price diff'] = df['Ask Price_x'] - df['Ask Price_y']
df['Ask Yield to Maturity diff'] = df['Ask Yield to Maturity_x'] - df['Ask Yield to Maturity_y']

data_date = pd.to_datetime('2022-09-27')
t_df = data['Treasuries'].iloc[:, :-2]
t_df = t_df[t_df.duplicated(['Maturity']) | t_df.duplicated(['Maturity']).shift(-1)]
c = t_df.duplicated(['Maturity']) & t_df.duplicated(['Maturity']).shift()
t_df = t_df[c | c.shift(-1) | c.shift(-2)]

t_df['Maturity'] = pd.to_datetime(t_df['Maturity'])
t_df['Acrued days'] = [182 - (x - data_date).days % 182 for x in t_df['Maturity']]
t_df['Acrued Interest'] = t_df['Acrued days'] / 182 * t_df['Coupon'] / 200
t_df['Full price'] = t_df['Acrued Interest'] + t_df['Ask Price']

res_all=[]
for i in range(int(len(t_df) / 3)):
    eg_df = t_df.iloc[3 * i:3 * (i + 1), ]
    c1, c2, c3 = eg_df['Coupon'].iloc[0], eg_df['Coupon'].iloc[1], eg_df['Coupon'].iloc[2]
    p1, p2, p3 = eg_df['Full price'].iloc[0], eg_df['Full price'].iloc[1], eg_df['Full price'].iloc[2]
    a = (c2 - c3) / (c1 - c3)
    mis_p = a * p1 + (1 - a) * p3 - p2
    res=[eg_df['Maturity'].drop_duplicates().iloc[0],a,mis_p]
    res_all.append(res)

res_df=pd.DataFrame(res_all,columns=['maturity','alpha','misprice'])
res_df.sort_values('misprice',inplace=True)

In [4]:
res_df

     maturity     alpha      misprice
9  2023-08-31  0.523810 -3.701637e-02
2  2023-01-31  0.277778 -2.734375e-02
1  2022-10-31  0.066667 -2.656250e-02
14 2024-01-31  0.153846 -2.614183e-02
6  2023-05-31  0.428571 -2.008929e-02
16 2024-04-30  0.500000 -1.367188e-02
8  2023-07-31  0.571429 -1.674107e-03
0  2022-09-30  0.071429 -8.370536e-04
18 2024-07-31  0.700000 -7.812500e-04
13 2023-12-31  0.200000  1.421085e-14
15 2024-02-29  0.285714  3.906250e-03
20 2024-09-30  0.772727  6.036932e-03
12 2023-11-30  0.315789  7.195724e-03
17 2024-06-30  0.800000  7.812500e-03
3  2023-02-28  0.450000  9.375000e-03
19 2024-08-31  0.687500  1.196289e-02
5  2023-04-30  0.428571  2.120536e-02
7  2023-06-30  0.500000  2.148438e-02
10 2023-09-30  0.571429  2.455357e-02
4  2023-03-31  0.421053  2.857730e-02
11 2023-10-31  0.500000  4.101562e-02